/* src/styles/tag.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.tag {
  background: #F2F4F8;
  color: #6833FF;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 32px;
  padding: 6px 16px;
  border-radius: 14px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.75px;
  text-align: center;
  margin-right: 7px;
  transition: background 0.3s ease, color 0.3s ease;
}

.tag:hover {
  background: #865CFF;
  color: #FFFFFF;
}

.tag.active {
  background: #6833FF;
  color: #FFFFFF;
}

/* Responsive design for smaller screens */
@media (max-width: 600px) {
  .tag {
    font-size: 12px;
    padding: 5px 12px;
    height: 28px;
    border-radius: 12px;
  }

  .tag svg {
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 400px) {
  .tag {
    font-size: 10px;
    padding: 4px 8px;
    height: 24px;
    border-radius: 10px;
  }

  .tag svg {
    width: 16px;
    height: 16px;
  }
}

.tag:focus {
  outline: 1px solid #6833FF; /* You can adjust the thickness as needed */
}