.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

input:focus-visible {
  border: 3px solid #6833FF;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* src/styles/responsive.css */
.responsive-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.timer-container,
.dc-container {
  width: auto;  /* Keep them auto for default layout */
}

/* For smaller screens, stack the elements */
@media (max-width: 350px) {
  .responsive-container {
    flex-direction: column;
  }

  .timer-container,
  .dc-container {
    margin-bottom: 10px;  /* Space between stacked items */
  }

  .dc-container {
    text-align: center; /* Center the 'DC' text when stacked */
  }
}
